a {
  color: aqua;
}

.link {
  color: red;
}

/* Початок */
a[href^="https"] {
  color: red;
}
/* Середина */
a[href*="youTube"] {
  color: red;
}
/* Кінець */
a[href$=".com/"] {
  color: red;
}

.list + p {
  font-size: 24px;
}
